/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #006036;
  margin: 0;
  padding: 0;
  text-align: center;
}

.selection-wrapper {
  max-width: 600px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* 農業者の方のボタンのスタイル */
.farmer-button {
  background-color: #D1AB14;
  color: #ffffff;
  border: 2px solid #000000;
}

/* 農業者以外の方のボタンのスタイル */
.fan-button {
  background-color: #ffffff;
  color: #D1AB14;
  border: 4px solid #000000; 
}

.selection-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

/* 画像スタイル */
img {
  max-width: 100%;
  height: auto;
}

/* 携帯デバイス用のスタイル */
@media (max-width: 480px) {
  .selection-wrapper {
    max-width: 90%;
  }
}
