/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #006036;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 23px;
  padding: 0;
  
}

.selection-wrapper {
  max-width: 600px;
  margin-top: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  font-size: 18px;
  
}

.profile_wrapper{
  width:100%;
  box-sizing: border-box;
  padding: 0px;
}

.profile_content{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}
/* ... その他のスタイル ... */
.title{
  color: #333333;
  text-align: center;
}
   
form{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 8px;
  color: #555555;
  font-size: 20px;
  text-align: left;
}

input{
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  font-size: 14px;
  
}

button[type="submit"]{
  background-color: #D1AB14;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid  #ffffff;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  font-weight: bold;
  margin-bottom: 20px;

}

/* 農業者の方のボタンのスタイル */
.farmer-button {
  background-color: #D1AB14;
  color: #ffffff;
  border: 1px solid  #ffffff;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  font-weight: bold;

}

/* 農業者以外の方のボタンのスタイル */
.fan-button {
  background-color: #ffffff;
  color: #D1AB14;
  border: 4px solid #000000; 
  border: 1px solid #D1AB14;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  font-weight: bold;
}

.selection-button {
  display: block;
  width: 100%; /* ボタンを親要素の幅いっぱいに広げる */
  margin: 10px auto; /* 上下中央に配置 */
  padding: 15px 30px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  /* ボタンを垂直に並べるスタイル */

}

/* 画像スタイル */
img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

/* 携帯デバイス用のスタイル */
@media (max-width: 480px) {
  .selection-wrapper {
    max-width: 90%;
  }
}

.back-index_link{
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
 
}
.backbutton-container {
  text-align: left; /* ボタンを右寄せにする */
}

 .footer {
      text-align: center;
      margin-top: 20px;
    }

.photos_wrapper{
    background-color: #ffffff;
    border-radius: 10px;
    
/*       max-width: 600px;
      margin: 20px auto;   
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.photos_content{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;

}

.gallery{
  display:flex;
  flex-wrap: wrap;/*収まらない場合折り返す*/
  justify-content: space-around;/*子要素間に均等なスペースが追加*/
  
}

.photo img {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.photo {
      flex-basis: calc(50% - 20px); /* Two columns with margin */
      margin: 10px;
      text-align: center; 
    }

#nextButton {
      padding: 12px;
      background-color: #D1AB14;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      display: none;
      margin-top: 10px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
#pageC {
      text-align: center;
      display: none;
      margin-top: 10px;
}

.photo p {
      margin-top: 8px;
      color: #555555;
}

table{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px auto;
}

.calender{
  max-width: 600px;
  
  
}

th, td {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 10px;
}
th {
      background-color: #D1AB14;
      color: #ffffff;
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px; /* 例: ドットの幅 */
  height: 25px; /* 例: ドットの高さ */
  background-color: transparent; /* ドットの背景色を白に設定 */
  border: 2px solid red; /* ドットの外側に赤い線を引いて穴を開ける */
  border-radius: 50%;
  display: none;
}

.available {
      position: relative;
      cursor: pointer;
}

#Button {
  background-color: #D1AB14; /* 背景色 */
  color: #ffffff; /* テキスト色 */
  border: none; /* ボーダーなし */
  border-radius: 4px; /* 角丸 */
  padding: 10px 20px; /* パディング */
  font-size: 16px; /* フォントサイズ */
}

.button-container {
  text-align: right; /* ボタンを右寄せにする */
}