/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #006036;
/*   margin: 10;
  padding: 0; */
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 23px;
  padding: 0;
}

.selection-wrapper {
  max-width: 600px;
  margin-top: 20px auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 45px;
  
  
}

.profile_wrapper{
  width:100%;
  box-sizing: border-box;
  padding: 0px;
}
/* styles.css */
.profile_content{
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}
/* ... その他のスタイル ... */
.title{
  color: #333333;
  text-align: center;
}
   
form{
  display: flex;
  flex-direction: column;
}

label{
  margin-bottom: 8px;
  color: #555555;
  font-size: 20px;
  text-align: left;
}

input{
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #aaaaaa;
  border-radius: 6px;
  font-size: 14px;
  
}

button[type="submit"]{
  background-color: #D1AB14;
  border-radius: 6px;
  padding: 10px;
  font-size: 20px;

}

/* 農業者の方のボタンのスタイル */
.farmer-button {
  background-color: #D1AB14;
  color: #ffffff;
  border: 1px solid  #ffffff;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  font-weight: bold;
  margin-bottom: 20px; /* ボタンの下に20pxのマージンを追加 */

}

/* 農業者以外の方のボタンのスタイル */
.fan-button {
  background-color: #ffffff;
  color: #D1AB14;
  border: 4px solid #000000; 
  border: 1px solid #D1AB14;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
  font-weight: bold;
  margin-bottom: 20px; /* ボタンの下に20pxのマージンを追加 */
}

.selection-button {
  display: block;
  width: 100%; /* ボタンを親要素の幅いっぱいに広げる */
  margin: 10px auto; /* 上下中央に配置 */
  padding: 15px 30px;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  /* ボタンを垂直に並べるスタイル */

}

/* 画像スタイル */
img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

/* 携帯デバイス用のスタイル */
@media (max-width: 480px) {
  .selection-wrapper {
    max-width: 90%;
  }
}
